{% extends 'backend.html.twig' %}

{% block title %}Asignacion{% endblock %}

{% block article %}
    <h1>Asignacion</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ asignacion.id }}</td>
            </tr>
            <tr>
                <th>Cantidad</th>
                <td>{{ asignacion.cantidad }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ asignacion.fecha ? asignacion.fecha|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Chapa</th>
                <td>{{ asignacion.chapa }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_asignacion_index') }}">back to list</a>

    <a href="{{ path('app_asignacion_edit', {'id': asignacion.id}) }}">edit</a>

    {{ include('asignacion/_delete_form.html.twig') }}
{% endblock %}
