{% extends 'backend.html.twig' %}

{% block title %}Lugares
{% endblock %}

{% block article %}
	<div class="row">

		<div class="col-10">
			<h1 class="text-center back-white">Lugares</h1>
		</div>
		<div class="col-2">
			<div class="d-grid gap-2 mx-auto">
				<a href="{{ path('app_lugar_new') }}" class="btn btn-primary text-right btn-lg" data-bs-toggle="tooltip" data-bs-title="Insertar elemento">Insertar</a>
			</div>
		</div>

		{% for flash_message in app.session.flashbag.get('notice') %}
			<div class="alert alert-warning" role="alert">
				{{ flash_message }}
			</div>
		{% endfor %}


		<table class="table table-striped table-hover back-white">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nombre</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				{% for lugar in lugars %}
					<tr>
						<td><a href="{{ path('app_lugar_show', {'id': lugar.id}) }}" data-bs-toggle="tooltip" data-bs-title="Mostrar detalles">{{ lugar.id }}</a></td>
						<td>{{ lugar.nombre }}</td>
						<td>
							<a href="{{ path('app_lugar_show', {'id': lugar.id}) }}" data-bs-toggle="tooltip" data-bs-title="Mostrar detalles">Detalles</a>
							<a href="{{ path('app_lugar_edit', {'id': lugar.id}) }}" data-bs-toggle="tooltip" data-bs-title="Editar elemento">Editar</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="3">No hay registros</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>


	{% endblock %}
