{% extends 'backend.html.twig' %}

{% block title %}Entidades
{% endblock %}

{% block article %}

	<div class="row">

		<div class="col-10">
			<h1 class="text-center back-white">Listado de Entidades</h1>
		</div>
		<div class="col-2">
			<div class="d-grid gap-2 mx-auto">
				<a href="{{ path('app_empresa_new') }}" class="btn btn-primary text-right btn-lg">Insertar</a>
			</div>
		</div>


	</div>

	{% for flash_message in app.session.flashbag.get('notice') %}
		<div class="alert alert-warning" role="alert">
			{{ flash_message }}
		</div>
	{% endfor %}

	<table class="table table-striped table-hover back-white">
		<thead>
			<tr class="table-info">
				<th>Id</th>
				<th>Nombre</th>
				<th>Alias</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
			{% for empresa in empresas %}
				<tr>
					<td class="table-info">
						<a href="{{ path('app_empresa_show', {'id': empresa.id}) }}">{{ empresa.id }}</a>
					</td>
					<td>{{ empresa.nombre }}</td>
					<td>{{ empresa.alias }}</td>
					<td>
						<a href="{{ path('app_empresa_show', {'id': empresa.id}) }}">Detalles</a>
						<a href="{{ path('app_empresa_edit', {'id': empresa.id}) }}">Editar</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="4">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>


{% endblock %}
