{% extends 'backend.html.twig' %}

{% block title %}Combustibles{% endblock %}

{% block article %}

	<div class="float-end">
		<a href="{{ path('app_tipo_new') }}" class="btn btn-primary text-right">Insertar</a>
	</div>
    <h1>Tipos de Combustibles</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for tipo in tipos %}
            <tr>
                <td>{{ tipo.id }}</td>
                <td>{{ tipo.nombre }}</td>
                <td>
                    <a href="{{ path('app_tipo_show', {'id': tipo.id}) }}">Detalles</a>
                    <a href="{{ path('app_tipo_edit', {'id': tipo.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No hay registros</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
